ul{
  background: #fff;
  position: absolute;
  padding-left: 10px;
  top:0;
  width: 200%;
  height:30px;
  z-index: 999;
  border-bottom: 1px solid #dfe1e3;
  display: flex;
  line-height: 30px;
  input{
    border: none;
    outline: none;
  }
  li{
    position: relative;
    padding: 0 20px;
    font-size: 1rem;
    margin: 0 .3rem;
    background: #9EABB3;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    a{
      &:after{
        content: 'X';
        position: absolute;
        right: 5px;
        opacity: 0;
        transition: opacity .3s ease ;
      }
      &:hover{
        &:after{
          opacity: 1;
        }
      }
    }
  }
}
