.about{
  width: 100%;
  min-height: calc(100vh - 195px);
  padding: 3% 10%;
  box-sizing: border-box;
  position: relative;
}
.info {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 300px;
  height: 450px;
  min-width: 30px;
  header{
    background: #34495e;
    width: 0;
    height: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    transition:  all 3s ease;
    a{
      cursor: pointer;
      img {
        margin: 20px 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 5px solid #fff;
        transition:  all 3s ease;
      }
    }
  }
  main{
    width: 100%;
    height: 0;
    .line{
      width: 60%;
      margin: 0 auto;
      height: 50px;
      border-left: 3px solid #34495e;
      border-right: 3px solid #34495e;
      box-sizing: border-box;
    }
    .box{
      width: 100%;
      height: 50px;
      background: #34495e;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      span{
        color: #fff;
      }
    }
  }
}
.open{
  header{
    width: 100%;
    height: 100px;
    a{
      img{
        margin: 65px 0 0 0;
        transform: rotate(360deg);
      }
    }
  }
}
.log{
  position: absolute;
  top: 15%;
  left: 10%;
  width: 300px;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  h2{
    text-align: center;
    padding-bottom: 10px
  ;
  }
  .log-item{
    width: inherit;
    a{
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      display: block;
      transition: background .3s ease;
      &:hover {
        background: #cecbcb;
      }
    }
    ul{
      padding-left: 35px;
      transition: all .3s ease;
      li{
        list-style-type:circle;
      }
    }
  }
}

