header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 9999;
  font-size: 62.5%;
  nav{
    ul{
      display: table-cell;
      vertical-align: middle;
      li{
        font-size: 1.1rem;
        letter-spacing: .1em;
        display: inline-block;
        margin: 0 16px;
        a{
          position: relative;
          display: inline-block;
          vertical-align: middle;
          padding-bottom: 3px;
          color: #313131;
          font-size: 1rem;
          cursor: pointer;
          outline: none;
          overflow: hidden;
          text-decoration: none;
          &.selected{
            &:after{
              width: 100%;
            }
          }
          html:not(.has-touch) &:hover:after{
            width: 100%;
          }
          &:after{
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: 0px;
            left: 0;
            background-color: #333;
            transition: width .5s ease-in-out;
          }
        }
      }
    }
  }
  .header-toggle{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -10px;
    transition-duration: .4s;
    cursor: pointer;
    z-index: 1;
    padding-top: 7px;
    svg{
      height: 1.5em;
      color: #fff;
    }
  }
}
header.open{
  nav{
    top: 0;
  }
  .header-toggle{
    top: 85px;
  }
}
