.font-animate{
  a:after{
    transition: .5s
  }
  a:nth-child(1):after{
    content: 'Y'
  }
  a:nth-child(2):after{
    content: 'A'
  }
  a:nth-child(3):after{
    content: 'N'
  }
  a:nth-child(4):after{
    content: 'G'
  }
  a:nth-child(5):after{
    content: 'G'
  }
  a:nth-child(6):after{
    content: 'E'
  }
  a:nth-child(7):after{
    content: 'R'
  }
}
.name .font-animate {
  a:nth-child(1):after{
    animation: move 1s linear 1 forwards;
    transition: .5s;
    @keyframes move{
      10%{
        content: 'a';
      }
      20%{
        content: 'R';
      }
      30%{
        content: 'Y';
      }
      100%{
        content: 'Y';
      }
    }
  }
  a:nth-child(2):after{
    animation: move2 1s linear 1 forwards;
    transition: .5s;
    @keyframes move2{
      10%{
        content: '!';
      }
      20%{
        content: 'b';
      }
      30%{
        content: '3';
      }
      40%{
        content: 'A';
      }
      100%{
        content: 'A';
      }
    }
  }
  a:nth-child(3):after{
    animation: move3 1s linear 1 forwards;
    transition: .5s;
    @keyframes move3{
      10%{
        content: '@';
      }
      20%{
        content: 'G';
      }
      30%{
        content: 'E';
      }
      40%{
        content: 's';
      }
      50%{
        content: 'N';
      }
      100%{
        content: 'N';
      }
    }
  }
  a:nth-child(4):after{
    animation: move4 1s linear 1 forwards;
    transition: .5s;
    @keyframes move4{
      10%{
        content: 'X';
      }
      20%{
        content: '&';
      }
      30%{
        content: 'x';
      }
      40%{
        content: 's';
      }
      50%{
        content: '?';
      }
      60%{
        content: 'G';
      }
      100%{
        content: 'G';
      }
    }
  }
  a:nth-child(5):after{
    animation: move5 1s linear 1 forwards;
    transition: .5s;
    @keyframes move5{
      10%{
        content: '?';
      }
      20%{
        content: 'x';
      }
      30%{
        content: 'w';
      }
      40%{
        content: 'u';
      }
      50%{
        content: 'K';
      }
      60%{
        content: 'v';
      }
      70%{
        content: 'G';
      }
      100%{
        content: 'G';
      }
    }
  }
  a:nth-child(6):after{
    animation: move6 1s linear 1 forwards;
    transition: .5s;
    @keyframes move6{
      10%{
        content: '*';
      }
      20%{
        content: '&';
      }
      30%{
        content: '#';
      }
      40%{
        content: 's';
      }
      50%{
        content: 'c';
      }
      60%{
        content: 'v';
      }
      70%{
        content: 's';
      }
      80%{
        content: 'E';
      }
      100%{
        content: 'E';
      }
    }
  }
  a:nth-child(7):after{
    animation: move7 1s linear 1 forwards;
    transition: .5s;
    @keyframes move7{
      10%{
        content: '(';
      }
      20%{
        content: '$';
      }
      30%{
        content: '^';
      }
      40%{
        content: '#';
      }
      50%{
        content: 's';
      }
      60%{
        content: 'v';
      }
      70%{
        content: 'q';
      }
      80%{
        content: 'c';
      }
      90%{
        content: 'R';
      }
      100%{
        content: 'R';
      }
    }
  }
}

