.art-item{
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
  word-wrap: break-word;
  header{
    margin-top: 0.4rem;
    h2{
      font-size: 2rem;
      margin: 0.4em 0;
      cursor: pointer;
    }
  }
  section {
    p {
      margin: 0;
      font-size: 0.9em;
      line-height: 1.7em;
      a{
        color: #4A4A4A;
        transition: color 0.3s ease;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  footer {
    display: block;
    margin: 1.75rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
    a{
      color: #9EABB3;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    svg{
      vertical-align: middle;
      margin-bottom: 3px;
    }
    .tags{
      font-size: 1rem;
      margin: 0 .3rem;
      padding: 0 .3rem;
      background: #9EABB3;
      color: #fff;
      border-radius: 5px;
    }
    .meta{
      font-size: 1rem;
    }
    .meta:first-child{

    }
    time {
      display: inline-block;
      margin-left: 8px;
      padding-left: 12px;
      border-left: #d5dbde 1px solid;
      text-transform: uppercase;
      font-size: 1rem;
      white-space: nowrap;
      line-height: 2.2rem;
      color: #9EABB3;
    }
  }
}
.art-context{
  .bg-line{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 70px;
    background: #000 url("/static/line.png");
    box-shadow: 0 2px 15px black;
  }
  position: static!important;
  header{
    position: relative;
    z-index: 2;
    padding: 30px 0 50px 0;
    h1{
      text-align: left;
      color: #fff;
      padding: 0 25% 0 0;
    }
    .art-author{
      border-bottom: 3px solid #5ba4e5;
      color: #999;
      padding: 15px 0;
      .avatar-push{
        display: inline-block;
        margin-right: 3px;
        border: 0;
        img{
          vertical-align: middle;
          position: relative;
          top: -1px;
          border: 0;
          display: inline-block;
          max-width: 100%;
          height: auto;
        }
      }
      .author-link{
        color: white;
        cursor: pointer;
        &.tag{
          margin-right: 10px;
        }
      }
    }
    .art-meta{
      position: absolute;
      top: 0;
      right: 20px;
      text-align: right;
      .meta-line{
        margin: 0 0 10px 0;
        .date-block{
          background: #5ba4e5;
          padding: 4px 8px;
          color: black;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }
    }
  }
 .context{
   position: relative;
   z-index: 2;
   border: 50px solid #fff;
   background: #fff;
 }
 footer{
   position: relative;
   display: flex;
   align-items: center;
   .stats{
     position: absolute;
     right: 0;
     top: 20px;
     bottom: 4px;
     .single-stat{
       color: #fff;
       cursor: default;
       display: inline-block;
       height: 100%;
       text-align: center;
       padding: 0 7px 0 9px;
       margin-left: -6px;
       a{
         color: #fff;
         display: inline-block;
         position: relative;
         top: 3px;
       }
       &:hover{
         color: #5ba4e5;
         a{
           color: #5ba4e5;
         }
       }
     }
     &:after{
       content: "";
       position: absolute;
       top: 0;
       right: 100%;
       width: 30px;
       height: 100%;
     }
   }
 }
}
