@media screen and (max-width : 550px){
  .art-context {
    header{
      padding: 30px 0 30px 0;
      h1{
        padding: 0;
      }
      .art-author{
        margin-bottom: 20px;
      }
      .art-meta{
        position: static;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
      }
    }
  }
}
