#app{
  position: absolute;
  z-index: 10;
  width: 100%;
  min-height: 100%;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
main{
}
footer{
  padding: 25px 0;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
