:root {
    --dark-theme-color: #7BF0BE;
    --dark-gray-green: #74CCA7;
}
html * {
    font-family: 'Inter','PingFang SC','Microsoft YaHei',Arial,sans-serif;
    /*font-size: 62.5%;*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
html.dark body {
    background: #000;
}

.full-image{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.person {
    /*width: 287px;*/
    height: calc(77.4 * 5px);
}
.article {
    position: relative;
}

/*日期*/
.date {
    font-family: Orbitron;
}
/*标题*/
.font-title {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: bold;
}

/*文章*/
@media (min-width: 1280px) {
    .more-articles article {
        width: 50%;
    }
}
