/*except*/
@media (max-width: 1024px) {
    article #markdown {
        width: 100vw!important;
    }
}

article #markdown {
    width: calc(100vw - 55 * 5px - 8rem);
    overflow-x: hidden;
    line-height: 149%;
}

article #markdown p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 149%;
    margin: calc(2px * 5) 0;
}
/*dark mode*/

html.dark article #markdown {
    color: rgba(255, 255, 255, .8);
}
html.dark article #markdown h1,
html.dark article #markdown h2,
html.dark article #markdown h3,
html.dark article #markdown h4,
html.dark article #markdown h5,
html.dark article #markdown h6 {
    color: #fff;
}
html.dark article #markdown blockquote,
html.dark article #markdown hr
{
    border-color: var(--dark-theme-color);
}

html.dark article #markdown a {
    color: var(--dark-theme-color);
}
html.dark article #markdown a {
    color: var(--dark-theme-color);
    border-color: var(--dark-theme-color);
}
html.dark article #markdown ul li:before {
    background-color: var(--dark-theme-color);
}
html.dark article #markdown ol li::marker {
    color: var(--dark-theme-color);
}
html.dark article #markdown table,
html.dark article #markdown th,
html.dark article #markdown td {
    border-color: var(--dark-theme-color);
}

html.dark article #markdown pre,
html.dark article #markdown code {
    overflow-x: auto;
    width: 100%;
    background-color: #222;
    color: rgba(255, 255, 255, .8);
}


/*title */

article #markdown h1,
article #markdown h2,
article #markdown h3,
article #markdown h4,
article #markdown h5,
article #markdown h6 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    line-height: 149%;
}
article #markdown h1 {
    font-size: 2.25rem;
    margin: calc(5px * 5) 0;
}
article #markdown h2 {
    font-size: 1.625rem;
    margin: calc(5px * 5) 0;
}

article #markdown h3 {
    font-size: 1.25rem;
    margin: calc(3px * 5) 0;
}
article #markdown h4 {
    font-size: 1rem;
    margin: calc(3px * 5) 0;
}


article #markdown h5,
article #markdown h6 {
    font-size: 1rem;
    margin: calc(2px * 5) 0;
}

/*font*/

article #markdown strong,
article #markdown em,
article #markdown del,
article #markdown u {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
}

/*blockquote*/

article #markdown blockquote{
    border-left: 2px solid;
    padding-left: calc(3px * 4);
}

/*href*/
article #markdown a {
    cursor: pointer;
    border-bottom: 1px solid;
}

/*list */

article #markdown ul li:before{
    content: ' ';
    width: calc(3px * 2);
    height: calc(3px * 2);
    border-radius: 50%;
    margin: calc(3px * 3);
    float: left;
    background-color: #000;
}

article #markdown ol {
    list-style-type: decimal;
    padding-left: calc(3px * 8);
}
article #markdown ol li::marker{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    padding-left: calc(3px * 8);
    text-align: left!important;
}

/*table*/

article #markdown table,
article #markdown th,
article #markdown td {
    border: 1px solid;
    border-color: #000;
    padding: calc(2px * 2) calc(5px * 4);
}

/*code*/

article #markdown pre,
article #markdown code {
    padding: 2px 4px;
}
article #markdown pre code {
    padding: unset;
}

/*normarl*/
