@media only screen and (max-width: 540px) {
  .markdown ul {
    display: block;
    -webkit-padding-start: 20px;
  }
}
.markdown{
  position: relative;
  color: #242628;
  text-decoration: none;
  font-size: 90%;
  .art-title{
    text-align: center;
  }
  hr{
    height: 3px;
    border: 0;
    background: #ccc;
    margin: 1em 0 1.7em;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: 62.5%;
    margin: .3em 0 .3em;
    color: #242628;
    line-height: 1.15em;
    text-rendering: optimizeLegibility
  }
  h1 {
    font-size: 3rem
  }
  h2 {
    font-size: 2.2rem
  }
  h3 {
    font-size: 1.8rem
  }
  h4 {
    font-size: 1.1rem
  }
  h5 {
    font-size: 1rem
  }
  h6 {
    font-size: 1rem
  }
  p{
    word-break: break-all;
  }
  a {
    color: #5ba4e5;
    text-decoration: underline;
    &:hover{
      color: #a6c7f4;
      border-bottom-color: #dfdfdf;
    }
  }
  code{
    background: #eee;
    padding: 1px 5px 2px;
    margin: 0 1px;
    border-radius: 4px;
    position: relative;
    top: -1px;
    border: 1px solid #d8e0e4;
    vertical-align: middle;
    white-space: pre-wrap;
    font-size: .8em;
    line-height: 1em;
  }
  blockquote {
    padding: 0 1.6em;
    border-left: #dfe1e3 .6em solid;
  }
  pre{
    overflow: auto;
    padding: 10px;
    border: 1px solid #d8e0e4;
    border-radius: 3px;
    white-space: pre;
    font-size: .9em;
    margin: 1.6em 0;
    code{
      border: none;
      background: 0 0;
      color: inherit;
      white-space: pre-wrap;
      font-size: inherit;
      padding: 0;
    }
  }
  p{
    margin: 0 0 1.7em;
  }
  ul{
    display: block;
    -webkit-padding-start: 40px;
    li{
      list-style-type: disc;
      padding: .1em;
    }
    ul li{
      list-style-type: circle;
    }
  }
}
